@media (max-width: 1400px) {
  .content-width {
    width: 1200px; }

  footer .footer-menu {
    grid-gap: 2%; }

  footer .footer-menu .item {
    width: 32%; }

  .locations-2x .content .item .wrap {
    padding: 0; }

  .locations-2x .content {
    grid-gap: 20px; }

  .locations-2x .content .item {
    width: calc(50% - 10px); }

  .locations-2x .content .item .wrap {
    width: calc(100% - 190px); } }
@media (max-width: 1280px) {
  .content-width {
    width: 1100px; }

  .join .content-width {
    padding: 0; }

  .text-img .content-width {
    padding: 0; }

  footer .content-width {
    padding: 0; }

  .locations-2x .content .item figure {
    width: 100px; }
    .locations-2x .content .item figure img {
      width: 100%;
      height: 100px; }

  .locations-2x .content .item .wrap {
    width: calc(100% - 135px); }

  .page-banner .content {
    grid-gap: 20px; }

  .text-img-round .content-width {
    min-width: inherit; }

  .text-img-round .text {
    padding: 30px; } }
@media (max-width: 1199px) {
  .content-width {
    width: 960px; }

  .line-menu .top-menu ul {
    display: none; }

  .open-menu {
    margin: 10px 0 0 25px;
    display: block; }
    .open-menu a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 28px;
      height: 28px; }
      .open-menu a span {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff; }
      .open-menu a span + span {
        margin-top: 6px; }

  .menu-responsive {
    width: 100%;
    background: transparent;
    background-size: cover;
    padding: 0;
    overflow: hidden auto;
    margin: 0;
    vertical-align: top;
    position: absolute;
    height: auto;
    max-height: 100%;
    right: -100vw;
    top: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
    .menu-responsive .btn-wrap {
      display: none; }
    .menu-responsive:after {
      content: "";
      display: table;
      clear: both; }
    .menu-responsive .wrap {
      padding: 33px 30px 100px;
      width: 320px;
      float: right;
      background: #0a140a;
      min-height: 100vh; }
    .menu-responsive .btn-wrap {
      margin-top: 30px; }
    .menu-responsive .close-menu {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 35px;
      height: 35px; }
      .menu-responsive .close-menu i {
        font-size: 18px;
        line-height: 1;
        color: #fff; }
      .menu-responsive .close-menu a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        padding: 5px; }
    .menu-responsive .fancybox-close-small {
      display: none; }
    .menu-responsive .mob-menu-wrap {
      margin-bottom: 25px; }
      .menu-responsive .mob-menu-wrap > ul {
        display: block; }
        .menu-responsive .mob-menu-wrap > ul > li {
          margin-bottom: 15px;
          text-align: left; }
          .menu-responsive .mob-menu-wrap > ul > li > a {
            color: #fff;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; }
            .menu-responsive .mob-menu-wrap > ul > li > a i {
              font-size: 14px;
              margin-left: 10px; }
        .menu-responsive .mob-menu-wrap > ul > li > a {
          position: relative;
          padding-right: 25px; }
        .menu-responsive .mob-menu-wrap > ul > li .is-open i {
          -webkit-transform: rotate(-180deg);
                  transform: rotate(-180deg); }
        .menu-responsive .mob-menu-wrap > ul li:last-child {
          margin-bottom: 0; }
        .menu-responsive .mob-menu-wrap > ul li:first-child a:after {
          display: none; }
        .menu-responsive .mob-menu-wrap > ul .sub-menu {
          display: none;
          padding: 20px; }
          .menu-responsive .mob-menu-wrap > ul .sub-menu li {
            margin-bottom: 5px; }
            .menu-responsive .mob-menu-wrap > ul .sub-menu li > a {
              color: #fff;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal; }
    .menu-responsive .logo-wrap {
      width: 120px;
      margin: 0 0 40px; }
      .menu-responsive .logo-wrap img {
        vertical-align: top;
        width: 100%; }

  .is-menu .menu-responsive {
    right: 0; }

  .locations .content {
    grid-gap: 20px; }

  .locations .item {
    width: calc(50% - 10px);
    margin-bottom: 45px; }

  .join .left {
    width: 100%;
    margin-bottom: 30px; }

  .join .right {
    width: 100%;
    padding: 0; }

  .inst-block .nav-wrap .swiper-btn {
    display: none; }

  .inst-block .inst-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .inst-block .nav-wrap {
    top: auto;
    bottom: -100px; }

  .inst-block .link-wrap:before {
    display: none; }

  .img-text .content-width {
    padding: 0; }

  .locations-2x .content .item {
    width: 100%; }

  .bg-text .content {
    right: 0; }

  .text-img-round figure {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-radius: 32px;
    overflow: hidden;
    margin-bottom: 30px; }

  .text-img-round .text {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .bg-text-revers .content {
    left: 0; } }
@media (max-width: 991px) {
  .content-width {
    width: 720px; }

  .home-banner .slider-wrap {
    margin: auto; }

  .text-img .right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding: 0;
    margin-bottom: 30px; }

  .text-img .left {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .text-img h2 {
    margin-bottom: 30px; }

  .text-img figure {
    margin-bottom: 30px; }

  .text-img .btn-wrap {
    margin-bottom: 50px; }

  .inst-block .content-width {
    padding: 0; }

  .inst-slider {
    width: 100%; }

  footer .footer-menu {
    width: 100%;
    top: 0;
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .img-text .left {
    width: 100%;
    margin-bottom: 30px; }

  .img-text .right {
    width: 100%;
    padding: 0; } }
@media (max-width: 767px) {
  .content-width {
    width: 540px; }

  .home-banner .slider-wrap .swiper-btn {
    display: none; }

  .products .nav-wrap .swiper-btn {
    display: none; }

  .locations .item {
    width: 100%; }

  .locations .item:nth-child(n + 5) {
    opacity: 0; }

  .locations .btn-wrap-full {
    margin-top: 15px; }

  .locations:after {
    height: 300px; }

  .locations.is-open .item:nth-child(n + 5) {
    opacity: 1; }

  .locations.is-open .btn-wrap-full {
    margin-top: 15px; }

  .locations-slider-block .nav-wrap {
    display: none; } }
@media (max-width: 575px) {
  .content-width, .join .content-width, .text-img .content-width, footer .content-width, .inst-block .content-width, .img-text .content-width {
    width: 100%;
    padding: 0 15px; }

  .top-line p {
    display: none; }

  .home-banner .slider-wrap {
    width: 350px; }

  .banner-slider .swiper-slide {
    height: 350px;
    padding: 60px; }

  .home-banner h1, .home-banner h2 {
    font-size: 24px;
    line-height: 1; }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -40px; }

  .home-banner p {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px; }

  .home-banner .btn-wrap {
    grid-gap: 10px; }

  .products {
    padding: 70px 0; }

  .products .swiper-slide {
    width: 300px; }

  .products .slider-wrap .bg-img {
    height: 300px; }

  .products .swiper-slide figure img {
    min-height: 350px;
    height: 350px; }

  .products h2 {
    margin-bottom: 70px; }

  .products .link-wrap ul {
    grid-gap: 20px; }

  .locations {
    padding: 70px 0; }

  .locations .item .wrap {
    padding: 0 10px 40px; }

  .join {
    padding: 70px 0; }

  h2 {
    font-size: 36px;
    line-height: 1; }

  .join ol li {
    font-size: 36px;
    line-height: 1; }

  .text-img {
    padding: 70px 0; }

  .text-img .wrap {
    padding: 0; }

  .text-img p {
    font-size: 20px;
    line-height: 22px; }

  .inst-block {
    padding: 70px 0; }

  .inst-block h2 {
    padding: 0; }

  .inst-block .title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 10px;
    margin-bottom: 30px; }

  .inst-slider .swiper-slide img, .inst-slider .swiper-slide {
    height: 95vw; }

  footer .item-collaps ul li {
    text-align: center; }

  footer .item-collaps .is-open span {
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1); }

  footer .item {
    width: 100%; }
    footer .item .soc {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    footer .item h6 {
      text-align: center; }

  footer .item-collaps ul {
    display: none; }
  footer .item-collaps h6 {
    text-align: center; }
    footer .item-collaps h6 span {
      position: relative;
      display: inline-block;
      margin-left: 5px; }
      footer .item-collaps h6 span:after {
        content: '\f078';
        font-size: 12px;
        color: #fff;
        line-height: 1;
        font-family: "Font Awesome 6 Pro";
        position: relative;
        top: -2px; }

  footer .footer-menu .item {
    width: 100%; }

  footer .logo-wrap {
    width: 100%;
    text-align: center; }

  footer .logo-wrap h6 {
    text-align: center; }

  footer .logo-wrap .wrap {
    margin: 0 auto 10px; }

  .footer-form {
    margin: auto; }

  .text-img-center .right .wrap + figure {
    margin-top: 30px; }

  .text-img-center .left figure:last-child {
    margin-top: 30px; }

  .img-text .text {
    font-size: 36px;
    line-height: 40px; }

  .about-banner .soc {
    left: 15px; }

  .locations-banner {
    padding-top: 120px; }

  .locations-slider-block .swiper-slide {
    width: 300px; }

  .locations-slider {
    width: 700px; }

  .locations-2x .content .item .wrap {
    width: 100%;
    margin-top: 20px; }

  .locations-2x .content .item {
    padding: 20px 15px; }

  .page-banner h1 {
    font-size: 40px;
    line-height: 1; }

  .page-banner .item {
    width: 160px;
    border-radius: 10px; }
    .page-banner .item a {
      padding: 10px; }

  .page-banner .content {
    grid-gap: 10px; }

  .bg-text .content {
    width: 90%;
    padding: 20px; }

  .bg-text .content-width {
    padding-top: 0;
    padding-bottom: 200px; }

  .bg-text .bg img {
    width: 100%; }

  .bg-text .content-width {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .bg-text .bg {
    top: 100px; }

  .text-img-round .text {
    padding: 15px; }

  .text-img-round p {
    font-size: 18px;
    line-height: 20px; }

  .text-img-round {
    padding: 30px 0; }

  .bg-text-revers .bg {
    right: 0; }

  .bg-text .bg {
    left: 0; }

  .bg-text-full .content {
    right: 0; }

  body {
    font-size: 18px;
    line-height: 20px; }

  .bg-text-full .content {
    padding: 20px; } }

/*# sourceMappingURL=responsive.css.map */